.MuiInput-input,
.MuiInputBase-input {
  color: var(--color-text-default) !important;
}

.TextField-inputRoot-57 {
  border: none;
  background-color: none !important;
  color: #fff !important;
}

.TextField-inputLabel-59 , .TextField-inputLabel-14, .TextField-inputLabel-44{
  color: #fff !important;
}

.TextField-inputRoot-27{
  background: none !important;
  color: #fff !important;
  input{
    color: #fff !important;
  }
}

.TextField-inputRoot-42 {
  background: none !important;
  color: #fff !important;
}