.unlock-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 357px;
  padding: 30px;
  font-weight: 400;
  color: #fff;

  &__container {
    // background: var(--color-background-default);
    display: flex;
    align-self: stretch;
    justify-content: center;
    flex: 1 0 auto;
  }
  
  &__buttons {
    display        : flex;
    justify-content: space-between;
    width          : 100%;
    margin-top     : 20px;

    &__new-wallet {
      background : none;
      color      : #ffffff;
      font-weight: 700;

    }

    &__reset-wallet {
      background : none;
      color      : #037dd6;
      font-weight: 700;
    }
  }

  &__mascot-container {
    margin-top: 24px;
  }

  &__title {
    @include H2;

    margin-top: 5px;
    font-weight: 800;
    color: #f2f3f4;
  }

  &__form {
    width: 100%;
    margin: 56px 0 8px;

    &>div>div {
      background-color: #ffffff !important;
      border          : none !important;
      border-radius   : 0;

      input {
        color: #000000 !important;
      }
    }
  }

  &__links {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
  }

  &__link {
    font-size: unset;
    font-weight: bold;
  }

  &__support {
    margin-top: 25px;
    font-size: 0.75rem;

    a {
      color: var(--color-primary-default);
    }
  }
  
  &__recaptcha-error{
    color: #d73a49;
    margin-bottom: 8px;
    margin-left: 3px;
  }

  &__drillError{
    color: #d73a49;
    text-align: center;
  }
}
