.metametrics-opt-in {
  position: relative;
  width   : 100%;

  a {
    color: #2f9ae0bf;
  }

  &__main {
    display       : flex;
    flex-direction: column;
    color: #f2f3f4;
    padding       : 40px 100px;

    @media screen and (max-width: $break-small) {
      // justify-content: center;
      // margin-left: 2%;
      // margin-right: 0%;
    }

    // .app-header__logo-container {
    //   margin-top: 3%;
    // }
    &__content {

      max-width: 1071px;
      margin   : auto;
    }
  }

  &__title {
    @include H1;

    position     : relative;
    margin-top   : 30px;
    margin-bottom: 20px;
  }

  &__description {
    margin-top : 12px;
    font-size  : 24px;
    line-height: 32px;
    font-family: Metropolis, Roboto;

    &__iceberg {
      font-family: Roboto;
      font-weight: 700;
    }
  }

  &__committments {
    display       : flex;
    flex-direction: column;
    margin-top: 12px;
  }

  &__content {
    overflow-y: scroll;
    flex      : 1;
  }

  &__row {
    display   : flex;
    margin-top: 8px;

    .fa-check {
      margin-right: 12px;
      color       : #1acc56;
    }

    .fa-times {
      margin-right: 12px;
      color       : #d0021b;
    }

    &-description {
      margin-left: 10px;
      font-size  : 24px;
      line-height: 32px;
    }
  }

  &__bold {
    font-weight: bold;
  }

  &__break-row {
    margin-top: 60px;
  }

  &__body {
    position      : relative;
    display       : flex;
    flex-direction: column;
  }

  &__body-text {
    max-width   : 548px;
    margin-left : 16px;
    margin-right: 16px;
  }

  &__bottom-text {
    margin-top: 10px;
    color     : #9a9a9a;
  }

  &__content {
    overflow-y: auto;
  }

  &__footer {
    margin-top: 30px;

    @media screen and (max-width: $break-small) {
      margin-top     : 10px;
      justify-content: center;
      margin-left    : 2%;
      max-height     : 520px;
    }

    .page-container__footer {
      border-top   : none;
      max-width    : 535px;
      margin-bottom: 15px;

      button {
        height       : 44px;
        min-height   : 44px;
        margin-right : 16px;
        border-radius: 20px;
      }

      &-button__cancel {
        border     : none;
        color      : #000000;
        font-size  : 22px;
        font-weight: 600;
        font-family: Roboto;
        margin-right: 40px !important;
      }

      &-button__agree {
        background-color: #009FE3;
        color           : #ffffff;
        font-size       : 22px;
        font-weight     : 600;
        font-family     : Roboto;
      }

      footer {
        padding: 0;
      }
    }
  }
}